<!DOCTYPE html>
          <html>
          <head>
          <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
  <body>
    <h1>Félicitation, <%= @user.email %>!</h1>
<p> Vous avez passez votre commande avec succès</p>
  </body>
</html>
