<ul>
  <% @concerts.each do |concert| %>
    <li><%= link_to "#{concert.title}", concert %>
      <%# if current_user == admin %>
        <%= link_to "Supprimer", concert, :confirm => "êtes vous sûr ?", :method => :delete %>
      <%# end %>
    </li>
  <% end %>
</ul>
