<ul>
  <% @concerts.each do |concert| %>
    <li><%= link_to "#{concert.title}", concert %></li>
  <% end %>

 	<%= form_tag concerts_path, :methode =>'get' do %>
 		<%= text_field_tag :search, params[:search] %>
 		<%= submit_tag "Search" %>
 	<% end %>


</ul>
