<div class="section section-concerts-list">
  <div class="container">
    <div class="row">
      <% @concerts.each do |concert| %>
          <div class="concert-card col-xs-12 col-sm-6 xol-md-4 col-xs-3">
            <div class="concert-card-image">
              <img src="http://placehold.it/800x600" alt="">
            </div>
            <div class="concert-card-infos">
              <h2 class="concert-card-title"><%= link_to "#{concert.title}", concert %></h2>
              <p class="concert-card-descr"><%= concert.description %></p>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>.

<ul>
  <% @concerts.each do |concert| %>
      <li><%= link_to "#{concert.title}", concert %>
        <% if current_user.admin %>
            <%= link_to "Supprimer", concert, :confirm => "êtes vous sûr ?", :method => :delete %>
        <% end %>
      </li>
  <% end %>
</ul>